.container {
    padding: 20px;
}

#search-container {
    flex-direction: column;
    align-items: center;
}

#search-input,
#search-button,
#clear-button {
    margin-bottom: 10px;
    width: 100%;
}

table {
    font-size: 16px;
}

th, td {
    padding: 5px;
}


th {
    text-align: center;
}


@media only screen and (max-width: 767px) {
    th:nth-child(3),
    th:nth-child(4), 
    th:nth-child(5), 
    th:nth-child(6),
    th:nth-child(8)  
    {
        display: none;
    }

    th, td {
        text-align: center;
    }
}


.title-font {
    font-size: 32px;
}

.title5-font {
    font-size: 20px;
}
