body {
    font-family: 'Poppins', sans-serif;
}

.title-font {
    font-family: 'Young Serif', serif;
    font-size: 75px;
    font-weight: bold;
    color: #f4f4f4;
    text-align: center;
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease;
    margin-bottom: 03px;
    margin-top: 37px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 2px;
    text-shadow: 0 0 10px #2E4F99, 0 0 20px #2E4F99, 0 0 30px #2E4F99, 0 0 40px #2E4F99, 0 0 50px #2E4F99;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(25px); }
    50% { transform: translateX(-25px); }
    75% { transform: translateX(25x1); }
    100% { transform: translateX(0); }
}

.title-font:hover {
    animation: shake 1.5s;
}

.title5-font {
    font-family: 'Young Serif', serif;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    color: #2E4F99;
    text-align: center;
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease;
    margin-top: 2px;
    margin-bottom: 40px;
}

html,body {
    height: 100%;
    background-color: #ffffff;
}

body {
    background: -moz-repeating-linear-gradient(45deg, #166D8C, #1D9FA1 10px, #41C0C4 10px, #5ED1D8 20px);
    padding-bottom: 100px;
    margin-bottom: 100px;
}

container {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
}

#search-container {
    margin-bottom: 52px;
    text-align: center;
}

#search-input {
    border-radius: 6px; 
    text-align: left;
    padding: 7px; 
    margin-right: 8px; 
    font-size: 30px;
}

#search-button, #clear-button {
    border-radius: 6px;
    padding: 7px 8px;
    font-size: 30px; 
}

#search-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

#clear-button {
    background-color: #e92949;
    color: #fff;
    border: none;
    cursor: pointer;
}


#clear-button:focus {
    outline: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    color: #A3CBE5;
    background-color: #2E4F64;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

th, td {
    border: 1px solid #2E4F64;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #A3CBE5;
    color: #2E4F64;
}

thead th {
    background-color: #A3CBE5;
    color: #2E4F64;
}

tbody tr:hover {
    background-color: #2e4f75;
}

td {
    position: relative;
}

td a {
    color: #C9F9CE;
    text-decoration: none;
}

td:hover {
    background-color: #2E4F99;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    opacity: 95%;
    text-align: center;
    font-size: 25px;
    padding-top: 10px;

  }
  
.footer a {
    color: #53a7b7;
    text-decoration: none;
}
  
.footer a.githubman-link {
    font-size: 20px;
    color: #336771;
    text-decoration: underline;
}
  